# common bash config
# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
{% for alias in aliases %}
{% if alias.color %}
    alias {{ alias.alias }}='{{ alias.command }} --color=auto'
{% endif%}
{% endfor %}
fi

{% for alias in aliases %}
{% if not alias.color %}
    alias {{ alias.alias }}='{{ alias.command }}'
{% endif%}
{% endfor %}

{%if bash_completion_enabled %}
if ! shopt -oq posix; then
  if [ -f /usr/share/bash-completion/bash_completion ]; then
    . /usr/share/bash-completion/bash_completion
  elif [ -f /etc/bash_completion ]; then
    . /etc/bash_completion
  fi
fi

{% endif %}

if [ "$color_prompt" = yes ]; then
    PS1='${debian_chroot:+($debian_chroot)}\[\033[01;36m\]\u\[\033[00m\]@\[\033[01;32m\]$(hostname -f)\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
else
    PS1='\u@$(hostname -f):\w\$ '
fi

unset use_color safe_term match_lhs
PATH=$PATH:/sbin:/usr/sbin:/usr/local/bin:/usr/local/sbin
shopt -s histappend
shopt -s checkwinsize
HISTCONTROL={{ history_control }}
HISTSIZE={{ history_size }}
HISTFILESIZE={{ history_file_size }}
HISTTIMEFORMAT={{ history_time_format }}

# Alias definitions.
if [ -f ~/.bash_aliases ]; then
    . ~/.bash_aliases
fi

source /etc/profile

{% if user_custom_entries is defined %}
    {{ user_custom_entries }}
{% endif %}
